.container {
  margin-top: 5%;
}

#bebida-card {
  padding: 20px;

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
    }
  }
}

.bebida-button, .relatorio-group, .button-group {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: #8C52FF;
    color: #fff;
    min-width: 80px;
    min-height: 35px;
    margin-right: 5%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.alert-sucesso {
  display: flex;
  flex-direction: row-reverse;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #8C52FF;
}

.text-danger {
  color: #8C52FF !important;
}
